<p>member-status-details works!</p>

<div class="panel panel-primary container">
    <div class="panel-heading">
        <h2 class="text-center">Vaccine Details</h2>
    </div>
    <div class="panel-heading">
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th title="Dose 1 Status">Dose 1 Status</th>
                    <th title="Dose 2 Status">Dose 2 Status</th>
                    <th title="Dose 1 Date">Dose 1 Date</th>
                    <th title="Dose 2 Date">Dose 2 Date</th>
                    <!-- <th title="Id card">Id card</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let memebrs of member | async" class="text-center">
                    <td title="{{memebrs.dose1status}}">{{memebrs.dose1status}}</td>
                    <td title="{{memebrs.dose2status}}">{{memebrs.dose2status}}</td>
                    <td title="{{memebrs.dose1date}}">{{memebrs.dose1date}}</td>
                    <td title="{{memebrs.dose2date}}">{{memebrs.dose2date}}</td>
                    <!-- <td title="{{memebrs.idCard}}">{{memebrs.idCard}}</td> -->
                    <td>
                        <button id="delete" title="Delete Vaccine" (click)="deleteMember(memebrs.memberId)"
                            class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg></button>
                    </td>
                    <td>
                        <button routerLink="/memberstatus-update/:id">update </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
