

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="navbar-item">
        <a routerLink="member-list" routerLinkActive="active" class="nav-link">Member List</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/add-member" routerLinkActive="active" class="nav-link">Add Member</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/add-vaccine-registration" routerLinkActive="active" class="nav-link">Add vaccine registration</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/add-memberstatus" routerLinkActive="active" class="nav-link">Add member registration</a>
      </li>
  
    
    </ul>
    
    </nav>
    <h1 class="text-center">{{title}}</h1>
  <div class="container">
  
  <!-- <app-employee-list></app-employee-list> -->
  <router-outlet></router-outlet>  <!--router -outlet is a angular provided directives-->
  
  </div>
  
  <footer class="footer">
  <div class="container">
  <span>All rights reserved 2020 @prathmesh</span>
  
  </div>
  
  </footer>